*{
    margin: 0px;
    padding: 0px;
}

.navbar{
    height: 50px;
    background-color: black;
    display: flex;
    border-top: 7px solid darkmagenta;
}

.navLeft{
    width: 50px;
    height: 50px;
    background-color:greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLeft h2{
    color:white;
}

.navLeft h2 span{
    color:darkmagenta;
}

.navRight p{
    color: white;
    text-decoration: underline;
}

.navRight{
    width: 50px;
    height: 50px;
    background-color:lightsalmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navrightcontent{
    width:175px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.navrightcontent select{
    height: 15px;
    width: 60px;
}

.navrightcontent img{
    height: 30px;
    width: 30px;
}

.highlights{
    margin-left: 57px;
    font-size: small;
}

.main{
    height: 185px;
    background-color: yellow;
    display:flex;
    justify-content: center;
}

#chevron{
    margin-top: 65px;
}

.chevleft{
    width: 35px;
    height:45px;
    transform: rotate(180deg);
}

.centerimg{
    width:60%;
    height: 175px;
}

.chevright{
    width: 35px;
    height:45px;
    transform: rotate(180deg);
}

.middlebars{
    height: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.middlebars .tabs{
    width: 50px;
    height: 5px;
    margin-left: 20px;
    border-radius: 5%;
    background-color: blueviolet;
}

.cards{
    height:175px;
    background-color: palegoldenrod;
}

.card1{
    height: 175px;
    width: 150px;
    background-color: aqua
}
.card2{
    height: 175px;
    width: 150px;
    background-color: black
}
.card3{
    height: 175px;
    width: 150px;
    background-color: aqua
}

.cardbottom{
    display: flex;

}

.logos{
    display: flex;
    
}


